﻿/* centered columns styles */
html,body, .ember-view, .ember-application
{
  height: 100%;
}

.height-full { height: 100%; }

.col-services {  background-color: #000; font-size: 12px; color: #fff; padding:15px 10px; font-size:18px }
.col-services .glyphicon { font-size: 18px; margin-right: 10px; }
.col-services li { margin-bottom: 4px; }
.col-services a { color: #fff;}

.col-list { background-color: #ddd; font-size: 12px;  padding-left: 0; padding-right: 0; padding-top: 10px;  }
.col-list { color: #000;  }
.col-list a { color: #137bc0; display: block;  padding:5px 10px; border-bottom: 1px solid #ccc; font-weight: bold; }
.col-list a:hover { text-decoration: none; }
.col-list p { text-decoration: none; color: #000; font-size: 11px; font-weight: 100; margin:0; padding:0; } 
.col-list p:hover { text-decoration: none; } 
.col-list a:hover span { text-decoration: underline; } 

.col-settings { background-color: #eee; font-size: 12px;  padding: 10px 20px;    }

.col-msgs {  padding-left: 0; padding-right: 0; padding:0; margin:0; vertical-align: bottom; }
.col-msgs .box-send { position: absolute; bottom: 0; height: 60px; border-top: 1px solid #ccc; width: 100%;  }

.box-msgs { padding:10px;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; bottom: 60px; width: 100%;  }
.msg span { font-size: 11px; color: #999; }
.msg  div { font-size:12px; }

.box-send .msg-input { position: relative; padding: 10px;  }
.box-send .msg-input .glyphicon { }
.box-send .glyphicon-send { margin-right: 10px; }